<app-header></app-header>

<div class="app-container container">
  <mat-card *ngFor="let p of projects">
    <mat-card-title>{{ p.name }}</mat-card-title>

    <mat-card-content>
      <div class="progress-container">
        <mat-chip-set>
          <mat-chip>
            {{
              p.status === "active"
                ? "Активный"
                : p.status === "waiting"
                ? "В ожидании"
                : "Завершено"
            }}
          </mat-chip>
        </mat-chip-set>
        <div class="progress-label">Прогресс: {{ p.progress }}%</div>
        <mat-progress-bar
          mode="determinate"
          [value]="p.progress"
        ></mat-progress-bar>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button (click)="goToProjectPage(p.id)">Просмотр деталей</button>
    </mat-card-actions>
  </mat-card>
</div>
